<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">rzhork.ua</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        footer {
            background-color: white;
            border-top: 1px solid #e2e8f0;
            padding: 16px 0;
            text-align: center;
        }
    </style>
</head>
<body class="bg-gray-200">
    <header class="bg-white border-b shadow-md">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-32" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="/vacancies" class="-m-1.5 p-1.5">
                    <span class="text-4xl font-extrabold text-indigo-600">rzhork</span>
                </a>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="/vacancies" class="font-semibold leading-6 text-gray-900">Вакансії</a>
                <a href="/companies" class="font-semibold leading-6 text-gray-900">Компанії</a>
            </div>
            <div sec:authorize="!isAuthenticated()" class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a href="/login" class="font-semibold leading-6 text-gray-900">Увійти<span aria-hidden="true">&rarr;</span></a>
            </div>

            <div sec:authorize="isAuthenticated()" class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a th:href="@{'/my/profile'}" class="font-semibold leading-6 text-gray-900">Мій профіль</a>
                <form th:action="@{/logout}" method="post" class="ml-4">
                    <button type="submit" class="font-semibold leading-6 text-gray-900">Вийти</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="content">
        <main th:replace="${content}">
            <!-- Default content -->
        </main>
    </div>

    <footer>
        <div class="max-w-6xl mx-auto px-6 py-4 text-center text-sm text-gray-600">
            <p>&copy; 2024 rzhork. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
